@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;800&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #2B444C;
  overflow-x: hidden;
}

.App .center {
  display: flex;
  width: 1000px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.App .title {
  margin: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  text-align: left;
  font-size: 5vh;
  color: #262626;
}

.App .subtitle {
  height: 3.5vh;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 0px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 2vh;
  color: #262626;
}

.App .game-container {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App .game-narrow {
  width: 100%;
  max-height: 100%;
  margin: auto;
  aspect-ratio: 5 / 6;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.App .game-wide {
  height: 100%;
  max-width: 100%;
  margin: auto;
  aspect-ratio: 5 / 6;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.App .description {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  margin-top: 0px;
  min-width: 960px;
  text-align: start;
  font-family: "Noto Sans", sans-serif;
  font-size: 2vh;
}

a:link {
  color: rgb(221, 107, 0);
}

/* visited link */
a:visited {
  color: rgb(221, 107, 0);
}

/* mouse over link */
a:hover {
  color: rgb(221, 63, 0);
}

/* selected link */
a:active {
  color: rgb(221, 0, 0);
}
